{% extends 'base.html.twig' %}


{% block body %}
    <div id="header2">
        <div id="imageRecherche">
            <h2 id="cherchezVous">Que Cherchez vous?</h2>
            <div id="inputSearch">
                <input id="search" type="search" placeholder=" Carotte,Lait,Poulet..." >
                <input id="search2" type="search" placeholder=" Ou cherchez vous?" >
            </div>
        </div>
    </div>




    {#$files = glob("img/icones/*.*");#}

    {#foreach ($files as $key => $value) {#}
    {#echo '<img src="'. $value .'"/>';#}
    {#}#}

    {#{% set files = glob("img/icones/*.*") %}#}

    {#{% for file in files %}#}
    {#<img src="'. {{ file }} .'"/>#}
    {#{% endfor %}#}

    <main>
        <div class="iconePdt">
            <label for="poireau">Poireau</label>
            <a href="">
                <img name="poireau" src="/img/icones/iconePdt-01.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="fromage">Fromage</label>
            <a href="">
                <img name="formage" src="/img/icones/iconePdt-02.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Fraise">Fraise</label>
            <a href="">
                <img name="Fraise" src="/img/icones/iconePdt-03.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Cerise">Cerise</label>
            <a href="">
                <img name="Cerise" src="/img/icones/iconePdt-04.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Pommes">Pommes</label>
            <a href="">
                <img name="Pommes" src="/img/icones/iconePdt-05.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Aubergine">Aubergine</label>
            <a href="">
                <img name="Aubergine" src="/img/icones/iconePdt-06.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="poire">Poire</label>
            <a href="">
                <img name="poire" src="/img/icones/iconePdt-07.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Carotte">Carotte</label>
            <a href="">
                <img name="Carotte" src="/img/icones/iconePdt-08.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Raisin">Raisin</label>
            <a href="">
                <img name="Raisin" src="/img/icones/iconePdt-09.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Courge">Courge</label>
            <a href="">
                <img name="Courge" src="/img/icones/iconePdt-10.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Oignon">Oignon</label>
            <a href="">
                <img name="Oignon" src="/img/icones/iconePdt-11.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Bierre">Bierre</label>
            <a href="">
                <img name="Bierre" src="/img/icones/iconePdt-12.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Brocolis">Brocolis</label>
            <a href="">
                <img name="Brocolis" src="/img/icones/iconePdt-13.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Bananes">Bananes</label>
            <a href="">
                <img name="Bananes" src="/img/icones/iconePdt-14.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Courgettes">Courgettes</label>
            <a href="">
                <img name="Courgettes" src="/img/icones/iconePdt-15.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Patates">Patates</label>
            <a href="">
                <img name="Patates" src="/img/icones/iconePdt-16.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Tomates">Tomates</label>
            <a href="">
                <img name="Tomates" src="/img/icones/iconePdt-17.png">
            </a>
        </div>

        <div class="iconePdt">
            <label for="Vins">Vins</label>
            <a href="">
                <img name="Vins" src="/img/icones/iconePdt-18.png">
            </a>
        </div>
    </main>

{% endblock %}
