{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <nav>
        <ul id="menu">
            <li>NOS PRODUITS</li>
            <li>QUI SOMMES NOUS</li>
            <li>CONTACT</li>
        </ul>
    </nav>
    <div id="header2">
        <div id="imageRecherche">
            <h2 id="cherchezVous">Que Cherchez vous?</h2>

                    <input id="search" type="search" placeholder=" Carotte,Lait,Poulet..." >
                    <input id="search2" type="search" placeholder=" Ou cherchez vous?" >

        </div>
    </div>
    <h2 id="produitMoment">LES PRODUITS DU MOMENT:</h2>


{% endblock %}
