{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <nav>
        <ul id="menu">
            <li>NOS PRODUITS</li>
            <li>QUI SOMMES NOUS</li>
            <li>CONTACT</li>
        </ul>
    </nav>
    <div id="header2">
        <div id="imageRecherche">
            <h2 id="cherchezVous">Que Cherchez vous?</h2>
            <div id="inputSearch">
                <input id="search" type="search" placeholder=" Carotte,Lait,Poulet..." >
                <input id="search2" type="search" placeholder=" Ou cherchez vous?" >
            </div>
        </div>
    </div>
    <h2 id="produitMoment">LES PRODUITS DU MOMENT:</h2>
    <img src="/img/separateur.png">

    <h1 id="what">COMMENT ÇA MARCHE ?</h1>
    


    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam amet aut beatae consequatur corporis culpa dolore ducimus explicabo, laboriosam magni, minus, non nostrum pariatur placeat saepe sapiente suscipit.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, dignissimos dolores doloribus et expedita, facilis illum itaque laboriosam modi molestiae molestias nam nihil quidem quisquam quo reiciendis repellendus tempore unde!

    <a id="plus" href="{{ path('aboutus') }}">EN SAVOIR +</a>

    <img src="/img/separateur.png">

    <img src="/img/illuchaine.png">

{% endblock %}
