{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <header>
        <div class="container-fluid">
            <div class="row">
                <div id="cadreonglet" class="col-sm-12 col-lg-12">
                    <img src="img/logo11.png" id="logo"   />
                    <span id="liens">
                        <a href="compte.php">Compte</a>
                        <a href=""><img src="img/hamper-filled.png" id="panier"></a>
                        <a href="connexion.php">Connexion</a>

                    </span>

                </div>

            </div>
    </header>

{% endblock %}