{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores doloribus enim magni pariatur soluta! Dicta est minima minus. Accusantium amet aspernatur consequuntur eius expedita fugit ipsum quod repudiandae sint voluptas.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam illum sapiente sed? Ab consectetur dolorem ducimus harum id iure laborum nesciunt omnis quia, sint, sit suscipit tempore tenetur unde vel!



    </div>
{% endblock %}