{% extends 'base.html.twig' %}



{% block body %}

    <main id="conteneurEspacePro" >

        <section id="sectionEProLeft">
            <article id="articleProLeft">
                <p class="titreArticlePro">
                    mes infos:
                </p>
                <div id="infoPro">
                    <p class="infoProText">nom:</p>
                    <p class="infoProText">prenom:</p>
                    <p class="infoProText">categorie:</p>
                    <p class="infoProText">localisation:</p>
                    <p class="infoProText">numero:</p>
                    <p class="infoProText">livraison:</p>
                </div>
                <button id="MAJinfosPro"> mettre a jour les infos</button>
            </article>
        </section>

        <section id="sectionEProMiddle">
            <article id="articleProMiddle">
                <p class="titreArticlePro">
                    produits disponible:
                </p>
                <div id="produitDispoPro">
                    <div class="pdtPro">
                        <img class="imgPdtPro" src="/img/strawberry.png">
                        <div class="descriptionPdtPro">
                            <h4 class="titrePdtPro">Fraise</h4>
                            <p class="txtPdt">10 kg</p>
                            <p class="txtPdt">05/07/2018</p>
                            <p class="txtPdt">parfaite pour des confiture....</p>
                        </div>
                    </div>
                    <div class="pdtPro">
                        <img class="imgPdtPro" src="/img/strawberry.png">
                        <div class="descriptionPdtPro">
                            <h4 class="titrePdtPro">Fraise</h4>
                            <p class="txtPdt">10 kg</p>
                            <p class="txtPdt">05/07/2018</p>
                            <p class="txtPdt">parfaite pour des confiture....</p>
                        </div>
                    </div>
                </div>
            </article>

            <article id="eventDispoPro">
                <p class="titreArticlePro">
                    evenements disponible:
                </p>
                <div id="listeEventDispo">
                    <h4 class="titrePdtPro">Marché:</h4>
                    <p class="txtEvent">dates:</p>
                    <p class="txtEvent">horaires:</p>
                    <p class="txtEvent">lieux:</p>
                    <p class="txtEvent">Produits proposé</p>
                </div>
            </article>
        </section>

        <section id="sectionEProRight">
            <article id="articleProRight">
                <p class="titreArticlePro">
                    ajouter un produit
                </p>
                <div id="addProduitPro">
                    !!!!!!!!!FORMUALIRE!!!!!!!!!!!
                </div>
            </article>

            <article id="eventProRight">
                <p class="titreEventPro">
                    ajouter un evenement
                </p>
                <div id="addProduitPro">
                    !!!!!!!!!FORMUALIRE!!!!!!!!!!!
                </div>
            </article>
        </section>

    </main>


{% endblock %}
