{% extends 'base.html.twig' %}



{% block body %}

    <main id="conteneurEspacePro">

        <section id="sectionEProLeft">
            <article id="articleProLeft">
                <p class="titreArticlePro">
                    mes infos:
                </p>
                <div id="infoPro">
                    <p>nom:</p>
                    <p>prenom:</p>
                    <p>categorie:</p>
                    <p>localisation:</p>
                    <p>numero:</p>
                    <p>livraison:</p>
                </div>
                <button id="MAJinfosPro"> mettre a jour les infos</button>
            </article>
        </section>

        <section id="sectionEProMiddle">
            <article id="articleProMiddle">
                <p class="titreArticlePro">
                    produits disponible:
                </p>
                <div id="produitDispoPro">
                    <div class="pdtPro">
                        <img src="/img/strawberry.png">
                        <div id="descriptionPdtPro">
                            <h4>Fraise</h4>
                            <p>10 kg</p>
                            <p>05/07/2018</p>
                            <p>parfaite pour des confiture....</p>
                        </div>
                    </div>
                    <div class="pdtPro">
                        <img src="/img/strawberry.png">
                        <div id="descriptionPdtPro">
                            <h4>Fraise</h4>
                            <p>10 kg</p>
                            <p>05/07/2018</p>
                            <p>parfaite pour des confiture....</p>
                        </div>
                    </div>
                </div>
            </article>

            <article id="eventDispoPro">
                <p class="titreArticlePro">
                    evenements disponible:
                </p>
                <div id="listeEventDispo">
                    <h4>Marché:</h4>
                    <p>dates:</p>
                    <p>horaires:</p>
                    <p>lieux:</p>
                    <p>Produits proposé</p>
                </div>
            </article>
        </section>

        <section id="sectionEProRight">
            <article id="articleProRight">
                <p class="titreArticlePro">
                    ajouter un produit
                </p>
                <div id="addProduitPro">
                    !!!!!!!!!FORMUALIRE!!!!!!!!!!!
                </div>
            </article>

            <article id="eventProRight">
                <p class="titreEventPro">
                    ajouter un evenement
                </p>
                <div id="addProduitPro">
                    !!!!!!!!!FORMUALIRE!!!!!!!!!!!
                </div>
            </article>
        </section>

    </main>


{% endblock %}
